* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --priWhite: #ffffff;
  --priBlack: #333447;
  --secBlack: #252525;
  --terBlack: #3f3f3f;
  --priGreen: #08bd37;
  --priPink: #fff4ea;
  --priGray: #e5e5e5;
  --secGray: #989898;
  --terGray: #8F8B8B;
  --boxShadow: 0px 4px 30px rgba(0,0,0,0,08);
  --priBorder: 0.5px solid #bdbdbd;
  --secBorder: 0.5px solid #c4c4c4;
}