* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --priWhite: #ffffff;
  --priBlack: #333447;
  --secBlack: #252525;
  --terBlack: #3f3f3f;
  --priGreen: #08bd37;
  --priPink: #fff4ea;
  --priGray: #e5e5e5;
  --secGray: #989898;
  --terGray: #8F8B8B;
  --linkGray: #f9f9f9;
  --boxShadow: 0px 4px 30px rgba(0,0,0,0.08);
  --priBorder: 0.5px solid #bdbdbd;
  --secBorder: 0.5px solid #c4c4c4;
  --selectArrow: var(--terGray);
}

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.4;
  background-color: var(--priWhite);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.filter_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 5rem;
  width: 100%;
}

.search_container,
.sort_container
{
  display: flex;
  align-items: center;
  width: 100%;
}

.sort_container {
  justify-content: center;
}
.sort_container form{
  display: inline-flex;
  margin-right: 1rem;
}

.search_bar {
  margin-left: 5rem;
  height: 45px;
  width: 20rem;
  padding: 1rem 0.5rem;
  border: var(--priBorder);
  border-radius: 2px;
  background: url("./assets/Group\ 19253.png") no-repeat right 10px center;
}

fieldset{
  width: 10rem;
  padding: 0 0.7rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

legend {
  font-size: 12px;
  color: var(--terGray);
}

select {
  width: 10rem;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  color: var(--terBlack);
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.5rem 1rem;
  cursor: pointer;
  line-height: 1.1;
  background: url("./assets/Vector\(1\).png")  no-repeat right 10px center
}

.banner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.banner {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--secBlack);
  width: 86%;
  font-size: 14px;
  padding: 1.5rem;
  background: url("./assets/Group\(1\).png") no-repeat left 90px center;
  background-color: var(--priPink);
}

.header_container {
  align-items: center;
  justify-content: center;
  width: 86%;
  margin: 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem 0;
}

.template_category {
  font-size: 18px;
  margin-left: auto;
  width: 100%;
}

.template_count {
  font-size: 14px;
  color: var(--secGray);
  margin-left: auto;
}

.templates_container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  width: 86%;
}

.template {
  width: 100%;
  border-radius: 2px;
  box-shadow: var(--boxShadow);
  height: auto;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.template:hover{
transform: translateY(-5px);
box-shadow: var(--boxShadow);
}

.template_contents {
  background-color: var(--priWhite);
}
.template h2 {
  font-size: 24px;
  margin: 1rem 0;
  
}

.template p {
  margin: 1rem 0;
  font-family: 'Inter', sans-serif;
}

.template_link {
  background-color: var(--linkGray);
  padding: 1rem;
  margin: 0;
}

.template_link a {
  color: var(--priGreen);
  text-decoration: none;
  transition: all .03s ease;
}

.template_link a:hover {
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 1024px){
  .banner {
    background-image: none;
  }

  .filter_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search_bar {
    display: flex;
    align-items: center;
    
  }

  .sort_container form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
  }
}

@media  only screen and (max-width: 768px){
  .templates_container {
    grid-template-columns: repeat(2,1fr);
  }

  .banner {
    width: 100%;
    text-align: justify;
    background-image: none;
  }

  .filter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .search_bar {
    width: 25rem;
    margin: 0 auto;
  }

  .sort_container {
    display: block;
    margin: 1rem;
  }

  .sort_container form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 2px;
  }

  fieldset {
    width: 5rem;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 400px){
  .templates_container {
    grid-template-columns: repeat(1,1fr);
  }
  .search_bar {
    width: 20.5rem;
  }
  
  .sort_container form {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  fieldset {
    width: 100%;
  }

  select {
    width: 18rem;
  }
}
